.navbar{
    display: block;
    margin-right: 1000;
}
.card{
    margin-left: 20%;
    margin-right: 20%;
}
.lol{
    margin-left: 30%;
    margin-right: 30%;
}
.cols {
    float:left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }